@function px2rem($n) {
  @return ($n * 10 / 720) * 1rem;
}

@mixin font-dpr($font-size){
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }

}

.nowbuy{
    ul.orderList{ background: #fff;
    li{ padding: px2rem(20) 0 0; overflow: hidden; width: px2rem(700);
      .pro-box{ margin:px2rem(20) px2rem(10);
        .pro-img{width: px2rem(196); flex:1;
          img{ border-radius: px2rem(7);}
        }
        .content{ position: relative; flex:1; text-align: left; padding: 0 px2rem(10) 0 px2rem(20);  font-size: px2rem(16); color: #a2a2a2; text-align: left;
          h2{ display: inline-block; font-size:px2rem(24); color: #3d3d3d; margin-bottom: px2rem(3); }
          dl{
            dd{ display: flex; display: box;
              em{ display: block; flex:3;}
              i{ display: block; flex:1; text-align: right;}
              span{ display: block; flex:3; text-align: right;}
            }
            dd.line{border-bottom: #e9e9e9 1px solid; margin: px2rem(10) auto;}
          }
        }
      }
    }
  }

    dl.peijian{ background: #fff; margin-top: px2rem(20); padding-bottom: px2rem(20);
      dt{display: flex; display: box; flex-direction: row; padding: px2rem(10) px2rem(20);
        i.pj-icon{ position: absolute; left: px2rem(-10); font-size: px2rem(30); color: #888888;}
        h2{flex: 1; display: block; position: relative; line-height: px2rem(50); color: #000;}
        span{flex: 3; display: block; line-height: px2rem(50);overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
        i.acrows{ color: #ffcd20;font-size: px2rem(50);}
      }
      dd{ overflow: hidden; display: flex; display: box; flex-direction: row; margin-bottom: px2rem(20); padding-left: px2rem(10);
        .in-line{ flex: 1;  background:#f9f9f9; display: flex; display: box; margin-right: px2rem(10); line-height: px2rem(90); border-radius: px2rem(10); overflow: hidden;
          .icon{ color: #fff;}
          span{display: block; float: left; flex: 1; background: #ffcd20;}
          p{ flex: 5; color: #000; font-size: px2rem(26);
            i{font-size: px2rem(12); line-height: px2rem(25); display: block; }
          }
          p.ewai{line-height: px2rem(60);}

        }
      }
      .birthday-card{line-height: px2rem(70); width:97%; margin: 0 auto; border-radius: px2rem(10);display: flex; display: box;
        i{font-size: px2rem(40);}
        input{flex: 2;}
      }
    }

  .order-line{ background: #fff; width:px2rem(700); margin:px2rem(20) auto 0; border-radius: px2rem(10);
    .content{ position: relative; text-align: left; padding: px2rem(20);  font-size: px2rem(16); color: #a2a2a2; text-align: left;
      dl{
        h2{font-size: px2rem(26); line-height: px2rem(50); color: #000; font-weight: bold;
          i{ float: right; display: block; width: px2rem(40); height:px2rem(40); line-height:px2rem(40); text-align: center; border-radius: 50%; background: #c0c0c0; color: #fff; font-size: px2rem(20);}
        }
        dd{ position: relative; display: flex; display: box; line-height: px2rem(40); font-size: px2rem(20);
          em{ display: block; flex:2;}
          span{ display: block; flex:3; text-align: right;}
        }
        dd.longRight{
          em{flex:1;}
          span{flex:5;}
        }
        .i-edit{display: block; position: absolute; width: px2rem(70); height: px2rem(70); line-height: px2rem(70); background: #e6e6e6; font-size: px2rem(50); top: 50%; margin-top: px2rem(-35); right: px2rem(30); text-align: center; border-radius: 50%;}

      }
    }

  }

  .pjSelect{
    .content{display: flex; display: box; flex-direction: row;
      .pj{ flex: 1; margin-right: px2rem(20); text-align: center;
        p{line-height: px2rem(50); font-size: px2rem(20);}
      }
      .pj:last-child{margin-right: 0;}
    }

  }

  /*卡券*/
  dl.ka-quan{ background: #fff;padding-top: px2rem(20); padding-bottom: px2rem(20); border-bottom: #e9e9e9 1px solid;
    dt{display: flex; display: box; flex-direction: row; padding: px2rem(10) px2rem(20);
      i.pj-icon{ position: absolute; left: px2rem(-10); font-size: px2rem(30); color: #888888;}
      h2{flex: 1; display: block; position: relative; line-height: px2rem(50); color: #000; text-align: left; padding-left: px2rem(30);}
      span{flex: 3; display: block; line-height: px2rem(50);overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-align: right; padding-right: px2rem(20); }
      i.acrows{ color: #ffcd20;font-size: px2rem(50);}
    }
    dd{ overflow: hidden;  margin-bottom: px2rem(20); padding-left: px2rem(10); display: none;
      .card{display: flex; display: box; flex-direction: row;
        .card-item{width: px2rem(327); height: px2rem(164); float: left; margin-right: px2rem(35); background: url("../images/hongbao.png") center; background-size: 100%; font-size: px2rem(140); line-height: px2rem(140); color: #fff;}
        .card-item:last-child{margin-right: 0;}
        .card-item.cash{display: flex; width: px2rem(710); height: px2rem(320); background: url("../images/card-bg.png") center; background-size: 100%; float: left; margin-right: px2rem(10); color: #fff;text-align: left;
            .card-left{flex: 1;
              .card-con-top{padding: px2rem(40); font-size: px2rem(30); line-height: px2rem(40); }
              .card-con-bottom{padding: px2rem(10) px2rem(40); font-size: px2rem(24); line-height: px2rem(40);
                h3{font-size: px2rem(20); line-height: px2rem(70);}
              }
            }
            .card-right{width: px2rem(280); float: right;
              .card-con-top{padding:px2rem(15) px2rem(40); font-size: px2rem(30); line-height: px2rem(40);
                span{font-size: px2rem(20); color: #52ff9b;}
              }
              .card-con-bottom{padding: px2rem(10) px2rem(40); line-height: px2rem(40);
                h3{font-size: px2rem(20); line-height: px2rem(80);}
                span{ font-size: px2rem(100);}
              }
            }
        }
        .card-item.quan{display: flex; width: px2rem(710); height: px2rem(174); background: url("../images/quan.png") center; background-size: 100%; float: left; margin-right: px2rem(10); color: #fff;text-align: left;
          .card-left{float: left; width: px2rem(234); font-size: px2rem(150); text-align: center; line-height: px2rem(174);}
          .card-content{flex: 1;
            .card-con-top{padding:px2rem(20) px2rem(10) 0 px2rem(40); font-size: px2rem(30); line-height: px2rem(40); }
            .card-con-bottom{padding:0 px2rem(10) px2rem(10) px2rem(40); font-size: px2rem(24); line-height: px2rem(40);
              h3{font-size: px2rem(20); line-height: px2rem(40);}
              span{padding: px2rem(5) px2rem(20); margin-top: px2rem(10); line-height: px2rem(30); background: #ac2b1a; border-radius: px2rem(20);}
            }
          }
          .card-right{width: px2rem(150); float: right; text-align: right;
            .card-con-top{padding:px2rem(20) px2rem(20); font-size: px2rem(22); line-height: px2rem(40);  }
            .card-con-bottom{padding: px2rem(20) px2rem(20); line-height: px2rem(40);
              span{ font-size: px2rem(20);}
            }
          }
        }

      }
      .quan-add{ display: flex;padding: px2rem(20) px2rem(10);
        input{ flex: 1; padding: 0 px2rem(10); background: #f9f9f9;}
        .add{ width: px2rem(280); float: right; line-height: px2rem(90); background: #ffcd20; display: block; border-radius: px2rem(10); color: #000;}
      }
      .text{text-align: left; padding-left: px2rem(20);}
      .piao-line{display: flex; padding: px2rem(20) px2rem(40); line-height: px2rem(40); background: #f9f9f9; margin-bottom: px2rem(10);
        select{flex: 1;}
        .piao-text{width: 100%; border: none; background: #f9f9f9;}
      }
      .payfor{
        ul{ width:px2rem(680); margin: 0 auto; padding-top: px2rem(20);
          li{float: left; background: #fff; margin-right: px2rem(20);flex-wrap: wrap; width: px2rem(330); margin-bottom: px2rem(20); padding: px2rem(20) 0; height: px2rem(300); border-radius: px2rem(10);
            i{font-size: px2rem(150); color: #9e9e9e; }
            b{ color: #000; font-size: px2rem(30);}
            span{font-size: px2rem(20);}
          }
          li:nth-of-type(2n){
            margin-right:0;
          }
          li.on{background: #ffcd20; color: #fff;
            i{color:#fff;}
            b{color:#fff;}
          }
        }
      }
    }

  }

}
.textLeft{text-align: left;}
.subtitle{text-align:left; font-size: px2rem(30); font-weight: bold; color: #000; line-height: px2rem(70);
  i{font-size: px2rem(50);}
}
.order-line.userInfo{
  .content{
    dl{
      dd{
        em{flex: 1; font-weight: bold; color: #000;}
        span{flex: 5;}
      }
    }

  }

}


.order-line.peisong{
  margin-top: 0; background:none;
  .in-line{ flex: 1; background:#fff;  display: flex; display: box; line-height: px2rem(90); border-radius: px2rem(10); overflow: hidden; margin-bottom: px2rem(20);
    .icon{ flex: 1; color: #fff; display: block; background: #acacac; width: px2rem(80); font-size: px2rem(50);}
    .icon.clock{background: #ffcd20;}
    select{ flex: 6; padding-left: px2rem(20); }
    .icon.down{background: #fff; color: #acacac;}
  }
}

.tips{line-height: px2rem(30); overflow: hidden; margin-bottom: px2rem(20); text-align: left;font-size: px2rem(24);}

.edit-fapiao{
  .content{padding:px2rem(10) px2rem(20);}
  .textbox{position: relative; width: 100%; height:px2rem(300); background: #f9f9f9;}
  .piao-text{ width: 100%; height:100%; background: #f9f9f9; padding: px2rem(10); font-size: px2rem(18); border: #f3f3f3 1px solid;}
  .edit{ position: absolute; top:50%; left:50%; margin-top: px2rem(-60); margin-left: px2rem(-60);  width: px2rem(120); height: px2rem(120); border-radius: 50%; background: #e6e6e6;
    i{font-size: px2rem(120); margin-right: px2rem(10); vertical-align: middle;}
    p{font-size: px2rem(10); }
  }
  .list_box{ padding-top: px2rem(30);
    ul{ display: flex; display: box; flex-direction: column;
      li{ flex: 1; font-size: px2rem(30); height: px2rem(90); line-height: px2rem(90); margin-bottom:px2rem(20); background: #fff; border-radius: px2rem(10); padding-left: px2rem(20); position: relative;
        .icon{ position: absolute; top: 0; right:px2rem(20); font-size:px2rem(50); z-index:0; }
        select{width: 100%; height: 100%; padding: 0 px2rem(10); font-size: px2rem(30); float: left; z-index:1; color: #acacac; }
        .input_short{width:px2rem(310);}
        .send{background: #ffcd20; width:px2rem(270); float: right; border-radius: px2rem(10); color: #000;  }
        .yzm{width:px2rem(270); float: right; border-radius: px2rem(10); color: #000;  }
        b{flex: 1; text-align: left;}
        span{flex: 3; text-align: right; padding-right: px2rem(20);}
      }
      .pwd{padding-left: px2rem(20); }
    }
  }



}

.fapiao-bt{ padding: px2rem(50) px2rem(20) px2rem(10);
  .text{display: flex; display: box; flex-direction: row; font-size: px2rem(22); color: #000000; font-weight: bold; line-height: px2rem(50); border-bottom: #cdcdcd 1px solid;
    b{display:block; flex: 1; text-align: left;font-weight: bold;}
    span{display:block; flex: 1; text-align: right; font-size: px2rem(50);
      i{font-size: px2rem(18); vertical-align: baseline;}
    }
  }

  p{color: #888888; font-size: px2rem(16);line-height: px2rem(40); text-align: left;}
}

