.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.items {
  display: none; }

.items.first {
  display: block; }

.pro-detail .pro-top .pro-img {
  width: 10.41667rem;
  height: 9.97222rem; }
.pro-detail .pro-main {
  width: 9.72222rem;
  margin: 0 auto;
  padding: 0 0.27778rem; }
  .pro-detail .pro-main .pro-tab {
    margin: 0.41667rem auto 0.69444rem; }
    .pro-detail .pro-main .pro-tab .pro-tab-top {
      text-align: left;
      border-bottom: #e9e9e9 0.01389rem solid;
      line-height: 0.55556rem; }
      .pro-detail .pro-main .pro-tab .pro-tab-top ul {
        display: flex; }
        .pro-detail .pro-main .pro-tab .pro-tab-top ul li {
          flex: 1;
          padding: 0.13889rem; }
          .pro-detail .pro-main .pro-tab .pro-tab-top ul li h2 {
            font-size: 0.38889rem; }
          .pro-detail .pro-main .pro-tab .pro-tab-top ul li h3 {
            font-size: 0.5rem;
            text-align: center; }
          .pro-detail .pro-main .pro-tab .pro-tab-top ul li p {
            font-size: 0.30556rem; }
        .pro-detail .pro-main .pro-tab .pro-tab-top ul li.on {
          border-bottom: #ffcd20 0.05556rem solid;
          color: #000; }
    .pro-detail .pro-main .pro-tab .pro-desc {
      width: 100%;
      padding: 0.41667rem 0; }
      .pro-detail .pro-main .pro-tab .pro-desc .desc-content {
        width: 100%;
        display: flex; }
        .pro-detail .pro-main .pro-tab .pro-desc .desc-content .cake_des {
          flex: 1;
          text-align: left;
          line-height: 0.55556rem; }
        .pro-detail .pro-main .pro-tab .pro-desc .desc-content .cake_num {
          width: 3.26389rem;
          float: right; }
          .pro-detail .pro-main .pro-tab .pro-desc .desc-content .cake_num .nums {
            margin-top: 0.13889rem; }
            .pro-detail .pro-main .pro-tab .pro-desc .desc-content .cake_num .nums i {
              display: inline-block;
              background: #f0f0f0;
              border-radius: 50%;
              width: 0.55556rem;
              height: 0.55556rem;
              line-height: 0.55556rem;
              color: #888888; }
            .pro-detail .pro-main .pro-tab .pro-desc .desc-content .cake_num .nums span {
              display: inline-block;
              width: 1.38889rem;
              line-height: 0.55556rem;
              color: #000; }
    .pro-detail .pro-main .pro-tab .info {
      line-height: 0.55556rem;
      padding: 0.41667rem 0; }
      .pro-detail .pro-main .pro-tab .info .info-box {
        font-size: 0.30556rem;
        line-height: 0.5rem; }
      .pro-detail .pro-main .pro-tab .info b {
        display: block;
        flex: 1;
        text-align: left; }
      .pro-detail .pro-main .pro-tab .info span {
        display: block;
        flex: 1;
        text-align: right;
        color: #000; }
      .pro-detail .pro-main .pro-tab .info .info-left {
        display: flex;
        padding: 0 0.27778rem; }
      .pro-detail .pro-main .pro-tab .info .info-right {
        display: flex;
        padding: 0 0.27778rem; }
        .pro-detail .pro-main .pro-tab .info .info-right i {
          display: inline-block;
          color: #b0916a;
          font-size: 0.33333rem;
          margin: 0;
          padding: 0; }
      .pro-detail .pro-main .pro-tab .info .country {
        width: 100%;
        padding: 0.41667rem 0;
        text-align: left;
        line-height: 0.41667rem; }
        .pro-detail .pro-main .pro-tab .info .country b {
          display: inline-block;
          width: 0.55556rem;
          height: 0.41667rem;
          margin-right: 0.13889rem; }
        .pro-detail .pro-main .pro-tab .info .country span {
          display: inline-block;
          padding: 0.13889rem 0.13889rem; }
      .pro-detail .pro-main .pro-tab .info .info-content ul li {
        width: 9.02778rem;
        display: flex;
        background: #f9f9f9;
        margin-bottom: 0.13889rem;
        padding: 0 0.27778rem; }
        .pro-detail .pro-main .pro-tab .info .info-content ul li p {
          flex: 1;
          text-align: left;
          line-height: 1.11111rem; }
        .pro-detail .pro-main .pro-tab .info .info-content ul li .member {
          position: relative;
          width: 3.33333rem;
          float: right;
          text-align: left; }
          .pro-detail .pro-main .pro-tab .info .info-content ul li .member i {
            display: block;
            position: absolute;
            left: -0.55556rem;
            top: 0.06944rem;
            width: 0.48611rem;
            height: 0.48611rem;
            line-height: 0.55556rem;
            border-radius: 50%;
            background: #ffcd20;
            color: #000;
            text-align: center; }
          .pro-detail .pro-main .pro-tab .info .info-content ul li .member span {
            font-size: 0.25rem;
            color: #888888; }
    .pro-detail .pro-main .pro-tab .country {
      width: 6.94444rem; }
    .pro-detail .pro-main .pro-tab .paging {
      margin: 0.41667rem auto; }
  .pro-detail .pro-main .cake_price {
    width: 100%;
    line-height: 1.38889rem; }
    .pro-detail .pro-main .cake_price b {
      float: left; }
    .pro-detail .pro-main .cake_price span {
      float: right;
      font-size: 0.83333rem;
      color: #000; }
      .pro-detail .pro-main .cake_price span i {
        font-size: 0.25rem;
        vertical-align: baseline; }

.swiper-pagination {
  bottom: 0.41667rem !important; }

.swiper-pagination-bullet-active {
  background: #ffcd20 !important; }

.swiper-pagination-bullet {
  background: #fff;
  opacity: 1; }

/*# sourceMappingURL=products.css.map */
