.users.index {
  height: 100%; }
  .users.index .topheader {
    height: 8.75rem;
    background: #fff; }
    .users.index .topheader h2 {
      position: relative;
      display: block;
      text-align: right;
      padding: 0.13889rem;
      margin-right: 0.69444rem;
      font-size: 0.36111rem; }
    .users.index .topheader i {
      font-size: 0.55556rem; }
    .users.index .topheader em {
      position: absolute;
      display: block;
      width: 0.41667rem;
      height: 0.41667rem;
      border-radius: 50%;
      top: 0;
      right: -0.20833rem;
      background: #ee473f;
      font-size: 0.22222rem;
      line-height: 0.41667rem;
      color: #fff; }
  .users.index .mainContent {
    position: relative;
    background: #fff;
    width: 9.44444rem;
    margin: -4.16667rem auto 0;
    border-radius: 0.13889rem 0.13889rem 0 0; }
    .users.index .mainContent .user-portrait {
      width: 6.94444rem;
      position: absolute;
      top: -1.38889rem;
      left: 50%;
      margin-left: -3.47222rem; }
      .users.index .mainContent .user-portrait .user-icon {
        position: relative;
        width: 2.77778rem;
        height: 2.77778rem;
        overflow: hidden;
        margin: 0 auto; }
        .users.index .mainContent .user-portrait .user-icon img {
          border-radius: 50%; }
        .users.index .mainContent .user-portrait .user-icon .rank {
          position: absolute;
          width: 0.76389rem;
          height: 0.76389rem;
          background: #ffcd20;
          bottom: 0;
          right: 0;
          z-index: 2;
          color: #000;
          font-size: 0.41667rem;
          border-radius: 50%;
          line-height: 0.76389rem; }
      .users.index .mainContent .user-portrait h2 {
        line-height: 1.11111rem;
        font-size: 0.41667rem;
        font-weight: bold;
        color: #000; }
    .users.index .mainContent .user-main {
      position: absolute;
      top: 3.33333rem;
      width: 100%; }
    .users.index .mainContent .subNav {
      z-index: 1;
      border-bottom: 1px #e9e9e9 solid; }
    .users.index .mainContent .mint-tabbar {
      position: relative;
      background-image: linear-gradient(180deg, #e9e9e9, #e9e9e9 50%, transparent 50%) !important;
      z-index: 1; }
      .users.index .mainContent .mint-tabbar .mint-tab-item {
        border-right: 1px #e9e9e9 solid; }
      .users.index .mainContent .mint-tabbar .mint-tab-item .icon {
        font-size: 1.38889rem; }
      .users.index .mainContent .mint-tabbar .mint-tab-item:last-child {
        border: none; }
      .users.index .mainContent .mint-tabbar .mint-tab-item.is-selected {
        background-color: #e9e9e9;
        color: #231815; }
        .users.index .mainContent .mint-tabbar .mint-tab-item.is-selected a {
          text-decoration: none !important; }
      .users.index .mainContent .mint-tabbar .mint-tab-item-label {
        padding: 0.13889rem 0; }
      .users.index .mainContent .mint-tabbar .icon {
        font-size: 0.69444rem;
        margin: 0.27778rem auto; }
      .users.index .mainContent .mint-tabbar .title {
        margin: 0.13889rem auto 0.27778rem;
        font-size: 0.41667rem; }

.integral .topheader, .money .topheader {
  background: #fff !important;
  color: #fff;
  line-height: 0.83333rem;
  padding-top: 0.13889rem;
  padding-bottom: 0.27778rem; }
  .integral .topheader .myIntegral, .money .topheader .myIntegral {
    position: relative;
    width: 4.94444rem;
    height: 4.94444rem;
    margin: 0.69444rem auto;
    border: #d7d7d7 1px solid;
    border-radius: 50%; }
    .integral .topheader .myIntegral .text, .money .topheader .myIntegral .text {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -0.41667rem;
      text-align: center; }
    .integral .topheader .myIntegral b, .money .topheader .myIntegral b {
      color: #000;
      font-size: 1.11111rem; }
    .integral .topheader .myIntegral span, .money .topheader .myIntegral span {
      color: #888888; }
  .integral .topheader .tips, .money .topheader .tips {
    color: #000;
    font-size: 0.41667rem; }
    .integral .topheader .tips b, .money .topheader .tips b {
      font-size: 0.27778rem;
      padding: 0 0.27778rem; }
  .integral .topheader .now-money, .money .topheader .now-money {
    color: #000; }
    .integral .topheader .now-money h3, .money .topheader .now-money h3 {
      font-size: 0.41667rem;
      margin: 0.41667rem auto;
      color: #888; }
    .integral .topheader .now-money span, .money .topheader .now-money span {
      font-size: 1.38889rem;
      line-height: 1.80556rem; }
.integral .integral-list, .money .integral-list {
  margin-top: 0.27778rem; }
  .integral .integral-list ul li, .money .integral-list ul li {
    position: relative;
    width: 9.44444rem;
    padding: 0.13889rem;
    margin: 0 auto 0.27778rem;
    background: #fff;
    border-radius: 0.13889rem;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    color: #000; }
    .integral .integral-list ul li .list-content, .money .integral-list ul li .list-content {
      flex: 1; }
      .integral .integral-list ul li .list-content i, .money .integral-list ul li .list-content i {
        font-size: 0.55556rem; }
      .integral .integral-list ul li .list-content h2, .money .integral-list ul li .list-content h2 {
        font-size: 0.33333rem;
        line-height: 0.55556rem; }
      .integral .integral-list ul li .list-content span, .money .integral-list ul li .list-content span {
        font-size: 0.38889rem;
        line-height: 0.69444rem;
        padding-left: 0.69444rem;
        color: #888888; }
      .integral .integral-list ul li .list-content p, .money .integral-list ul li .list-content p {
        font-size: 0.27778rem;
        line-height: 0.69444rem;
        color: #888888;
        border-top: #e4e4e4 1px solid; }
    .integral .integral-list ul li .pingjia, .money .integral-list ul li .pingjia {
      float: right;
      text-align: right;
      margin-left: 0.27778rem; }
      .integral .integral-list ul li .pingjia p, .money .integral-list ul li .pingjia p {
        font-size: 0.97222rem; }
      .integral .integral-list ul li .pingjia span, .money .integral-list ul li .pingjia span {
        font-size: 0.27778rem;
        padding: 0.13889rem 0.27778rem;
        background: #ffcd20;
        text-align: center;
        border-radius: 0.06944rem; }
.integral .guize, .money .guize {
  text-align: left;
  padding: 0.27778rem 0.41667rem; }
  .integral .guize h2, .money .guize h2 {
    font-size: 0.41667rem;
    color: #888;
    font-weight: bold; }
  .integral .guize p, .money .guize p {
    text-indent: -0.27778rem;
    padding-left: 0.27778rem;
    font-size: 0.27778rem; }

.integral.how .topheader, .integral.use .topheader, .message .topheader {
  height: 4.01389rem !important;
  background: #ffcd20  !important; }
  .integral.how .topheader h1, .integral.use .topheader h1, .message .topheader h1 {
    position: relative;
    display: block;
    text-align: left;
    padding: 1.11111rem 0 0 0.69444rem;
    font-size: 0.69444rem;
    color: #fffdfc;
    line-height: 0.55556rem;
    font-weight: bold; }
    .integral.how .topheader h1 span, .integral.use .topheader h1 span, .message .topheader h1 span {
      color: #483a37; }
    .integral.how .topheader h1 b, .integral.use .topheader h1 b, .message .topheader h1 b {
      font-size: 0.27778rem;
      line-height: 0.55556rem; }

.user-integral-list {
  position: relative;
  margin: -1.11111rem auto 0; }
  .user-integral-list ul li {
    position: relative;
    width: 9.44444rem;
    padding: 0.625rem 0 0.625rem 2.22222rem;
    margin-bottom: 0.27778rem;
    background: #fff;
    border-radius: 0.13889rem;
    text-align: left; }
    .user-integral-list ul li i {
      font-size: 1.94444rem;
      position: absolute;
      left: 0.27778rem;
      top: 50%;
      margin-top: -0.97222rem;
      color: #000; }
    .user-integral-list ul li h2 {
      font-size: 0.41667rem;
      color: #000;
      font-weight: bold; }
    .user-integral-list ul li p {
      line-height: 0.55556rem; }

.integral-message {
  margin: 0.41667rem auto 0; }
  .integral-message ul {
    width: 9.44444rem;
    border-radius: 0.13889rem;
    overflow: hidden;
    margin: 0 auto; }
    .integral-message ul .message-header {
      line-height: 0.875rem;
      background: #ffcd20;
      width: 100%;
      text-align: left;
      padding-left: 0.41667rem;
      color: #000; }
      .integral-message ul .message-header i {
        font-size: 0.69444rem; }
    .integral-message ul li {
      position: relative;
      width: 100%;
      padding: 0.13889rem 0.27778rem;
      background: #fff;
      text-align: left;
      border-bottom: #e9e9e9 1px solid;
      display: flex;
      align-items: center; }
      .integral-message ul li .head-image {
        width: 1.59722rem;
        height: 1.59722rem;
        border-radius: 50%;
        margin: 0 0.27778rem;
        float: left; }
      .integral-message ul li .content {
        flex: 1;
        padding: 0.27778rem 0.13889rem; }
        .integral-message ul li .content h2 {
          font-size: 0.41667rem;
          line-height: 0.83333rem;
          color: #000;
          font-weight: bold; }
          .integral-message ul li .content h2 span {
            float: right;
            font-size: 0.25rem;
            font-weight: normal;
            color: #888; }
        .integral-message ul li .content p {
          line-height: 0.55556rem; }
    .integral-message ul li:last-child {
      border-bottom: none; }

.ziti-address .content {
  padding: 0.69444rem 0.27778rem 0.13889rem; }
.ziti-address .address_box ul {
  display: flex;
  display: box;
  flex-direction: column; }
  .ziti-address .address_box ul li {
    flex: 1;
    font-size: 0.41667rem;
    height: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 0.27778rem;
    background: #fff;
    border-radius: 0.13889rem;
    padding-left: 0.13889rem;
    position: relative; }
    .ziti-address .address_box ul li .icon {
      position: absolute;
      top: 0;
      left: 0.27778rem;
      font-size: 0.69444rem; }
    .ziti-address .address_box ul li input {
      width: 100%;
      height: 100%;
      padding: 0 0.13889rem;
      font-size: 0.41667rem;
      float: left; }

.charge {
  padding: 0.69444rem 0; }
  .charge ul {
    width: 9.44444rem;
    margin: 0 auto; }
    .charge ul li {
      float: left;
      background: #fff;
      margin-right: 0.27778rem;
      flex-wrap: wrap;
      width: 4.58333rem;
      margin-bottom: 0.27778rem;
      padding: 0.27778rem 0;
      height: 4.16667rem;
      border-radius: 0.13889rem; }
      .charge ul li i {
        font-size: 2.08333rem;
        color: #9e9e9e; }
      .charge ul li b {
        color: #000;
        font-size: 0.41667rem; }
      .charge ul li span {
        font-size: 0.27778rem; }
    .charge ul li:nth-of-type(2n) {
      margin-right: 0; }
    .charge ul li.on {
      background: #ffcd20;
      color: #fff; }
      .charge ul li.on i {
        color: #fff; }
      .charge ul li.on b {
        color: #fff; }

.quan {
  background: #fff; }
  .quan .quan-item .quan-head h2 {
    font-size: 0.41667rem;
    line-height: 1.38889rem; }
  .quan .quan-item .quan-head ul {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-top: #e9e9e9 1px solid;
    border-bottom: #e9e9e9 1px solid;
    padding: 0 0.27778rem; }
    .quan .quan-item .quan-head ul li {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      line-height: 0.41667rem;
      padding: 0.69444rem 0; }
      .quan .quan-item .quan-head ul li b {
        font-size: 0.55556rem;
        color: #000; }
      .quan .quan-item .quan-head ul li span {
        font-size: 0.25rem; }
    .quan .quan-item .quan-head ul li.on b {
      color: #6a89e0; }
  .quan .quan-item .quan-head.hb li.on b, .quan .quan-item .quan-head.yh li.on b {
    color: #e74631; }
  .quan .quan-item .quan-content {
    margin: 0.41667rem auto;
    overflow: hidden; }
    .quan .quan-item .quan-content .hongbao {
      width: 4.54167rem;
      margin: 0 auto;
      height: 2.27778rem;
      background: url("../images/hongbao.png") center no-repeat;
      background-size: 100%;
      text-align: center;
      line-height: 1.94444rem; }
      .quan .quan-item .quan-content .hongbao span {
        font-size: 1.38889rem;
        color: #fff; }
    .quan .quan-item .quan-content .youhuiquan {
      width: 9.86111rem;
      margin: 0 auto;
      height: 2.41667rem;
      background: url("../images/quan.png") center no-repeat;
      background-size: 100%;
      text-align: center;
      line-height: 1.94444rem;
      display: flex;
      color: #fff; }
      .quan .quan-item .quan-content .youhuiquan .quan-left {
        width: 3.25rem; }
        .quan .quan-item .quan-content .youhuiquan .quan-left span {
          font-size: 2.08333rem;
          line-height: 2.41667rem; }
      .quan .quan-item .quan-content .youhuiquan .quan-center {
        flex: 1;
        padding: 0.27778rem 0.27778rem;
        text-align: left; }
        .quan .quan-item .quan-content .youhuiquan .quan-center p {
          line-height: 0.55556rem;
          margin: 0;
          padding: 0; }
        .quan .quan-item .quan-content .youhuiquan .quan-center span {
          padding: 0.13889rem 0.27778rem;
          margin: 0.27778rem 0;
          background: #ac2b1a;
          border-radius: 0.27778rem; }
      .quan .quan-item .quan-content .youhuiquan .quan-right {
        flex: 1;
        padding: 0.27778rem 0.13889rem;
        text-align: right; }
        .quan .quan-item .quan-content .youhuiquan .quan-right p {
          line-height: 0.55556rem;
          margin: 0;
          padding: 0; }
          .quan .quan-item .quan-content .youhuiquan .quan-right p span {
            margin-top: 0.27778rem; }
    .quan .quan-item .quan-content .quan-list {
      width: 9.44444rem;
      margin: 0 auto;
      height: 4.47222rem;
      background: url("../images/card-bg.png") center no-repeat;
      background-size: 100%;
      font-size: 0.41667rem;
      color: #fff;
      text-align: center;
      overflow: hidden; }
      .quan .quan-item .quan-content .quan-list .quan-top {
        display: flex;
        display: box; }
        .quan .quan-item .quan-content .quan-list .quan-top .c-left {
          flex: 1;
          text-align: left;
          padding: 0.27778rem 0.41667rem; }
          .quan .quan-item .quan-content .quan-list .quan-top .c-left h2 {
            font-size: 0.41667rem;
            padding: 0.27778rem 0; }
      .quan .quan-item .quan-content .quan-list .quan-main {
        display: flex;
        display: box; }
        .quan .quan-item .quan-content .quan-list .quan-main .num {
          font-size: 1.11111rem; }
        .quan .quan-item .quan-content .quan-list .quan-main p {
          font-size: 0.27778rem; }
      .quan .quan-item .quan-content .quan-list .c-left {
        flex: 1;
        text-align: left;
        padding: 0.27778rem 0.41667rem; }
        .quan .quan-item .quan-content .quan-list .c-left h2 {
          font-size: 0.41667rem;
          padding: 0.13889rem 0 0.27778rem; }
      .quan .quan-item .quan-content .quan-list .c-right {
        float: right;
        width: 3.61111rem;
        text-align: left;
        padding: 0.34722rem 0.41667rem 0.20833rem; }

.level {
  position: relative; }
  .level .level-header {
    position: relative;
    width: 10rem;
    height: 6.45833rem;
    background: url("../images/level-bg.png") center;
    background-size: 100%; }
    .level .level-header .mylevel {
      position: absolute;
      top: 0;
      right: 0.69444rem;
      font-size: 2.77778rem;
      color: #ffffff; }
    .level .level-header .txt {
      position: absolute;
      width: 5.27778rem;
      height: 0.54167rem;
      bottom: 0.34722rem;
      left: -0.20833rem;
      background: url("../images/level-txt.png") center;
      background-size: 100%;
      line-height: 0.54167rem;
      color: #fff;
      font-size: 0.25rem;
      text-align: center; }
    .level .level-header .level-line {
      position: absolute;
      bottom: 0;
      width: 10rem;
      height: 3.61111rem;
      background: url("../images/level-line.png");
      background-size: 100%; }
    .level .level-header .dot {
      position: absolute;
      top: 5.13889rem;
      left: 1.18056rem;
      width: 0.26389rem;
      height: 0.26389rem;
      background: url("../images/dot.png");
      background-size: 100%; }
    .level .level-header .level-2 {
      top: 4.26389rem;
      left: 2.98611rem; }
    .level .level-header .level-3 {
      top: 3.88889rem;
      left: 4.875rem; }
    .level .level-header .level-4 {
      top: 3.51389rem;
      left: 6.70833rem; }
    .level .level-header .level-5 {
      top: 2.80556rem;
      left: 8.61111rem; }
  .level .level-main ul li {
    display: flex;
    line-height: 1.38889rem;
    background: #f9f9f9;
    text-align: left; }
    .level .level-main ul li .level-left {
      float: left;
      background: #39393e;
      text-align: center;
      padding: 0.27778rem 0.27778rem;
      color: #fff; }
      .level .level-main ul li .level-left span {
        display: block;
        width: 0.97222rem;
        height: 0.97222rem;
        line-height: 0.97222rem;
        vertical-align: middle;
        border-radius: 50%; }
    .level .level-main ul li .level-center {
      flex: 1;
      padding: 0rem 0.27778rem;
      color: #000; }
    .level .level-main ul li .level-right {
      flex: 1;
      padding: 0rem 0.27778rem;
      text-align: right; }
  .level .level-main ul li.cur {
    background: #eaeaea; }
    .level .level-main ul li.cur span {
      background: #46464e; }

/*# sourceMappingURL=user.css.map */
